@import "susy";
@import 'breakpoint';

$Small-device:( columns:12,
column-width: 37.5px,
gutter-position: inside,
);

$Big-device:( columns: 12,
column-width: 60px,
gutters: 1/4);

$big-size: 768px;
$break-Small-device: 380px 768px;

[class^=col-xs] {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    height: 100%;
    @include susy-breakpoint($big-size, $Big-device) {
        @include container;
    }
    @include susy-breakpoint($break-Small-device, $Small-device) {
        @include container;
    }
}

@include breakpoint($break-Small-device) {
    @for $i from 1 through 12 {
        @include with-layout($Big-device) {
            .col-sm-#{$i} {
                @include span($i)
            }
        }
    }
}

@include breakpoint($big-size) {
    @for $i from 1 through 12 {
        @include with-layout($Small-device) {
            .col-sm-#{$i} {
                @include span($i);
            }
        }
    }
}