body {
	font-family: Raleway, Lato, Noto Sans, serif;
}
h1, h2, h3 {
    letter-spacing: 0.1em;
}
h1 {
	font-size: 2.25em;
	font-weight: 700;
}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background:transparent url('https://unsplash.com/photos/n5wwck8ES4w/download?force=true') center center no-repeat;
	background-size: cover;
	color: #fff;
}