[class^=col-xs] {
  padding-left: 15px;
  padding-right: 15px; }

.container {
  height: 100%; }
  @media (min-width: 768px) {
    .container {
      max-width: 885px;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 380px) and (max-width: 768px) {
    .container {
      max-width: 450px;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }

@media (min-width: 380px) and (max-width: 768px) {
  .col-sm-1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8.33333%;
    float: left; } }

@media (min-width: 380px) and (max-width: 768px) {
  .col-sm-2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left; } }

@media (min-width: 380px) and (max-width: 768px) {
  .col-sm-3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left; } }

@media (min-width: 380px) and (max-width: 768px) {
  .col-sm-4 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left; } }

@media (min-width: 380px) and (max-width: 768px) {
  .col-sm-5 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 41.66667%;
    float: left; } }

@media (min-width: 380px) and (max-width: 768px) {
  .col-sm-6 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left; } }

@media (min-width: 380px) and (max-width: 768px) {
  .col-sm-7 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 58.33333%;
    float: left; } }

@media (min-width: 380px) and (max-width: 768px) {
  .col-sm-8 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left; } }

@media (min-width: 380px) and (max-width: 768px) {
  .col-sm-9 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    float: left; } }

@media (min-width: 380px) and (max-width: 768px) {
  .col-sm-10 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left; } }

@media (min-width: 380px) and (max-width: 768px) {
  .col-sm-11 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left; } }

@media (min-width: 380px) and (max-width: 768px) {
  .col-sm-12 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left; } }

@media (min-width: 768px) {
  .col-xs-1 {
    width: 6.77966%;
    float: left;
    margin-right: 1.69492%; } }

@media (min-width: 768px) {
  .col-xs-2 {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%; } }

@media (min-width: 768px) {
  .col-xs-3 {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%; } }

@media (min-width: 768px) {
  .col-xs-4 {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; } }

@media (min-width: 768px) {
  .col-xs-5 {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%; } }

@media (min-width: 768px) {
  .col-xs-6 {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%; } }

@media (min-width: 768px) {
  .col-xs-7 {
    width: 57.62712%;
    float: left;
    margin-right: 1.69492%; } }

@media (min-width: 768px) {
  .col-xs-8 {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; } }

@media (min-width: 768px) {
  .col-xs-9 {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%; } }

@media (min-width: 768px) {
  .col-xs-10 {
    width: 83.05085%;
    float: left;
    margin-right: 1.69492%; } }

@media (min-width: 768px) {
  .col-xs-11 {
    width: 91.52542%;
    float: left;
    margin-right: 1.69492%; } }

@media (min-width: 768px) {
  .col-xs-12 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; } }
