.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.col-1 {
  width: 6.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%; }

.col-2 {
  width: 15%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%; }

.col-3 {
  width: 23.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%; }

.col-4 {
  width: 31.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%; }

.col-5 {
  width: 40%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%; }

.col-6 {
  width: 48.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%; }

.col-7 {
  width: 56.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%; }

.col-8 {
  width: 65%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%; }

.col-9 {
  width: 73.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%; }

.col-10 {
  width: 81.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%; }

.col-11 {
  width: 90%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%; }

.col-12 {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%; }
