@charset "UTF-8";
@import url(https://fonts.cat.net/css?family=Lato|Noto+Sans);
body {
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  color: rgba(38, 50, 56, 0.88);
  font-size: 1em; }

h1, h2, h3 {
  letter-spacing: 0.1em; }

h1 {
  font-size: 2.25em;
  font-weight: 700; }

h2 {
  font-size: 2em; }

p {
  font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", Raleway, Lato, Noto Sans, serif; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to top, rgba(46, 49, 65, 0.6), rgba(46, 49, 65, 0.6)), url("https://unsplash.com/photos/n5wwck8ES4w/download?force=true") center center no-repeat fixed;
  background-size: cover;
  color: #fff; }
  .header h1 {
    letter-spacing: 1.5em;
    text-transform: uppercase;
    text-shadow: 1px 15px 12px #000; }

.sec {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: row; }

.one {
  background: url(https://unsplash.com/photos/2Jl8gtDwQPY/download?force=true) center center no-repeat fixed; }

.two {
  background: transparent url("https://images.unsplash.com/photo-1474767821094-a8fe9d8c8fdd?dpr=1&auto=format&fit=crop&w=1080&h=720&q=80&cs=tinysrgb&crop=") center center no-repeat fixed;
  background-size: cover; }

.inner {
  width: 100%;
  background: rgba(220, 220, 220, 0.75);
  padding: 2em 4em 0.1em 4em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative; }
  .inner .content {
    max-width: 48em; }
  .inner .image {
    top: 0;
    left: 0;
    width: 40%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .inner .image img {
      display: block; }
