<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>觀測數據</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/grid.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>

<body>
    <header class="header" style="background-image: url(https://unsplash.it/1583/315?random&element=DIV);">
        <nav class="sidebar">
            <div class="mask" v-on:click="toggle" :class="{ active: isActive }"></div>
            <div class="float">
                <span :class="{ active: isActive, open: true }" v-on:click="toggle">
                <i class="icon-menu5"></i>
            </span>
            </div>
            <ul :class="{ active: isActive }">
                <li><a href="../"><i class="icon-home"></i>Home</a></li>
                <li><a href="../data"><i class="icon-stats-dots"></i>數據觀測</a></li>
                <li><a href="../about.html"><i class="icon-users"></i>關於我們</a></li>
                <li><a href="https://github.com/oxygen-TW/Weather-Station"><i class="icon-github"></i>Github</a></li>
            </ul>
        </nav>
        <nav class="nav">
            <ul>
                <li><a href="../"><i class="icon-home"></i>Home</a></li>
                <li><a href="../data"><i class="icon-stats-dots"></i>數據觀測</a></li>
                <li><a href="../about.html"><i class="icon-users"></i>關於我們</a></li>
                <li><a href="https://github.com/oxygen-TW/Weather-Station"><i class="icon-github"></i>Github</a></li>
            </ul>
        </nav>
        <div class="overlay">
            <div class="container">
                <div class="message">
                    <h1>歡迎使用氣象站服務</h1>
                </div>
            </div>
            <a href="#one"></a>
        </div>
    </header>
    <!-- template for the modal component -->
    <script type="text/x-template" id="modal-template">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">
                        <div class="modal-header">
                            <slot name="header">
                                default header
                            </slot>
                        </div>
                        <div class="modal-body">
                            <slot name="body">
                                default body
                            </slot>
                        </div>
                        <div class="modal-footer">
                            <slot name="footer">
                                default footer
                                <button class="modal-default-button" @click="$emit('close')">
                                    OK
                                </button>
                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </script>
    <div class="station-list">
        <div class="container">
            <template v-for="weather in items">
                <div class="col-xs-3 col-sm-3">
                    <div class="cards">
                        <div class="weather">
                            <div class="station">{{weather.location}}</div>
                            <div class="tempature">
                                <span class="value">{{weather.temperature}}</span>
                                <i class="icon-Celsius"></i>
                                <i class="large icon-windy2"></i>
                            </div>
                            <div class="status">
                                <div class="light">
                                    <i class="icon-sun4"></i><span class="value">{{weather.light}}</span>
                                </div>
                                <div class="humidity">
                                    <i class="icon-droplet"></i><span class="humidity">{{weather.humidity}}</span><span> %</span>
                                </div>
                                <div class="uv">
                                    <span class="value"></span>
                                </div>
                                <div class="light">
                                    <span class="value"></span>
                                </div>
                                <div class="rainfall"><span class="value"></span></div>
                            </div>
                            <div class="actions">
                                <a v-on:click="showMessage(weather.location)" class="btn btn-flat" :data="[weather.location]">Full Report</a>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <modal v-if="showModal" @close="showModal = false">
                <!--
      you can use custom content here to overwrite
      default content
    -->
            </modal>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>Copyright &#169; 2016-2017 Weather Service Project All rights reserved.</p>
        </div>
    </footer>
    <script src="../../assets/js/vue.js"></script>
    <script src="../../assets/js/controller.js"></script>
    <script src="../../assets/js/sidebar.js"></script>
</body>

</html>
<!-- copyright weather service project 2016-2017
    All copyright reserved-->